section {
    width: 80%;
    height: 800px;
    /* background-image: url("https://images.unsplash.com/photo-1564442038901-4f9a19d3d456?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1227&q=80");
    background-size: cover;
    background-position: top; */
    background: center/cover no-repeat url("https://images.unsplash.com/photo-1564442038901-4f9a19d3d456?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1227&q=80");
    margin: 0 auto;
    color: white;
    font-size: 100px;
}

/*unsplashというフリーの画像があるサイトがある．*/
/*画像の指定は自分のディレクトリからの絶対パスでもいいし，ウェブサイトのURLでもいい．*/
/* 足りない空間は画像が繰り返されることで埋められる */

/* background: no-repeat; で繰り返しが起こらないようにしている */

/*background-sizeプロパティ*/
/*contain = 画像を切り取ったり崩したりすることなく，画像ができるだけ大きくなるように縮小拡大する*/
/* cover = 画像を崩すことは無いが，切り取りは行って，画像ができるだけ大きくなるように縮小拡大する．一番よくつかわれるらしい． */


/*background-positionプロパティ*/
/* topやbottomによって画像のどの部分を基準にしているかを決めている．切り取りで画像の一部分を使うことになった場合，どの部分を使うかの指定的な感じ */

/* backgroundプロパティは上記の内容を一括で設定できる．空白をあけるだけで．しかもどの順番で書いても大丈夫．他のいろとか画像も追記しておくと，余った余白部分がそれで補われる． */
/* ただ，positionとsizeの書き方は気を付けなければいけない．上記のように，center/coverみたいに書かなければいけない． */