body {
    color: purple;
}
/* 設定したスタイルが自動的に子要素にも適応されるものがある＝継承 */

/* section {
    color: aqua;
} */

/* form {
    color: greenyellow;
} */

button, input {/* ボタンとかのテキストは自動で継承されないので，inheritと書くことで明示的に継承させることができる． */
    color: inherit;
}

/* 継承されないのもある */