/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ################################################################### */
html {
    box-sizing: border-box;
        /* 枠の太さも考慮してwidthを計算してる */
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #60a9ff;
        /* panelが画面の中心に来るように変える */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
        /* vh = viewpoint height : CSSの相対単位．ブラウザの表示領域．1vhとはビューポートの高さの1%を指す*/
}

.panel{
    background-color: white;
    border-radius: 10px;
    padding: 15px 25px;
    width: 100px;
    min-width: 900px;
        /* 後ろの青い背景が優先的にshrink */
    display:flex;
        /* flexの主軸は横向きなので，この一文だけで，縦に並んでいたアイテムが，横に並ぶ． */
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
}

/* div毎に区切ってる */
.pricing-plan{
    border-bottom: 1px solid #e1f1ff;
}

/* 擬似クラスを用いて，div要素の最後のやつだけ指定 */
.pricing-plan:last-child{
    border-bottom: none;
}

.pricing-img {
    margin-bottom: 25px;
    max-width: 100%;
}

/* imgと題名の間の空白とか文字の圧さとか色とか */
.pricing-header{
    color: #888;
    font-weight: 600;
    letter-spacing: 1px;
}

/* テキストの部分の空白の調整 */
.pricing-features{
    margin: 50px 0 25px;
        /* 上　下　左右 */
    color: #016ff9;
}

/* テキストの部分をもっと細分化してデザイン */
.pricing-features-item {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 1.5;
    padding: 15px 0 ;
    border-top: 1px solid #e1f1ff;
        /* テキストの上に実線を引く */
}

/* 一番下の要素に対しては下線も必要だよね */
.pricing-features-item:last-child {
    border-bottom: 1px solid #e1f1ff;
}

.pricing-price {
    color: #016ff9;
    display: block;
        /* blockにすると，横幅が親要素の幅いっぱいを占有．常に新しい行から始まり，次の要素も改行される．(hrefのやつが改行されて表示されるようになる)div, p, h1, ul li, section なとのタグと同じ扱い */
    font-size: 32px;
    font-weight: 700;
}

.pricing-button {
    border: 1px solid #9dd1ff;
    border-radius: 10px;
    color: #348efe;
    display: inline-block;
        /* paddingとmarginが適応されてほしいので，inline-blockを適応 */
    padding: 15px 35px;
    text-decoration: none;
        /* URL，hrefであることを示すテキストの下線を消す文． */
    margin: 25px 0;
        /* このボタンみたいなやつの上限の空白を調整 */
    transition: background-color 200ms ease-in-out;
        /* 背景色の変化のさせ方.ease-in-outは最初はゆっくり動き出し，途中で加速し，最後ゆっくり止まるような，速度が上に凸の2次関数みたいな感じでスタイルが変わる． */
}

/* ボタン上にカーソルを合わせた(ホバーした)時のボタンの見た目の見た目 */
.pricing-button:hover{
    background-color: #e1f1ff;
}

/* 真ん中のボタンには違う色を当てたいー＞クラスをもう一つ名付けている */
.pricing-button.is-featured {
    background-color: #48aaff;
    color: white;
}

.pricing-button.is-featured:hover {
    background-color: #269aff;
}

@media(min-width: 900px){
    .panel {
        flex-direction: row;
    }
    .pricing-plan {
        border-bottom: none;
        border-right: 1px solid #e1f1ff;
        padding: 25px 50px;
    }
    .pricing-plan:last-child {
        border-right: none;
    }
}
